/* --------------------------------- Global */
.far.fav {
  cursor: pointer;
  color: grey;
}
.fas.fav {
  cursor: pointer;
  color: red;
}
#drag-ghost {
  position: absolute;
  top: -1000px;
}

/* --------------------------------- Index.html */

#index .card-image {
  position: relative;
  float: left;
}

#index .card-image .hidden_icon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 1.5em;
  margin: 10px;
  transition: 0.5s ease;
  transition-delay: 0.1s;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

#index .card-image img {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#index .card-image:hover img {
  opacity: 0.3;
}

#index .card-image:hover .hidden_icon {
  opacity: 1;
}

#index .card-body .fav {
  float: right;
  margin-left: 10px;
}
#index .card-body h5 {
  display: inline-block;
  width: 100%;
}

#index .favs {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
}
.search-row img {
  width: 100px;
  height: 100px;
}
