/* --------------------------------- Global */
.far.fav {
  cursor: pointer;
  color: grey;
}
.fas.fav {
  cursor: pointer;
  color: red;
}

h1 {
  margin-bottom: 0;
}
h2 {
  color: grey;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.a {
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
}
.a:hover {
  color: #0a58ca;
}
section {
  margin-top: 20px;
}

.btn-group-sm > .btn,
.btn-sm {
  margin: 10px;
}

.widget {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.widget .thumb {
}
.widget .day {
  padding-bottom: 10px;
}
.widget h3 {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.03);
  margin: 0;
  padding: 0.2rem 0.5rem;
}
.widget h2 {
  font-size: 1.2em;

  text-align: center;
  padding: 0.2rem 0.5rem;
}
.widget h5 {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  padding-left: 0.3rem;
}
.widget p {
  margin-top: 0;
  margin-bottom: 0;
}
.widget .a {
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
}
.widget .a:hover {
  color: #0a58ca;
}
.widget .w-card .image,
.widget .w-card .image img {
  width: 3em;
  height: 3em;
}
.widget .w-card.loading .content {
  height: 3em;
}
.widget .w-card .content {
  margin-left: 5px;
}
.widget .w-card .content.text {
  width: 100%;
}
.widget .w-card .content.icon {
  text-align: right;
  margin-right: 0.3rem;
}

.widget .w-card.loading .image,
.widget .w-card.loading .content {
  background: #eee;
  border-radius: 5px;
  background: linear-gradient(140deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.btn.text-left {
  text-align: left !important;
}

/* --------------------------------- Index.html */

.meal-row.background-grey {
  background-color: #f8f9fa;
}
.meal-row img {
  margin-left: -50px;
  border: 5px solid rgba(255, 255, 255, 1);
  width: 100px;
  height: 100px;
  padding: 0;
}
.meal-row {
  height: 100px;
  margin-left: 50px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.meal-row h3 {
  font-size: 1.2em;
}
.meal-row .search-tags {
  /* margin-left: 45px; */
}

.meal-row small {
  /* margin-left: 45px; */
  color: rgba(0, 0, 0, 0.55);
}

.meal-row .dropdown {
  font-size: 1.5em;
}
.meal-row .btn-group-week {
  font-size: 1.2em;
}
.meal-row .btn-week {
  border: 3px solid grey;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding: 0;
  margin: 5px 0;
}
.meal-row .btn-week p {
  font-weight: bold;
  margin-bottom: 0;
  transform: translateY(15%);
  color: grey;
}
.meal-row .btn-week.active {
  border: 0;
  background-color: grey;
}
.meal-row .btn-week.active p {
  margin-bottom: 0;
  transform: translateY(30%);
  color: white;
}

.meal-row .btn-group-week i {
  font-size: 2em;
}

#index .searchbar {
  position: relative;
}
#index .search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}
.search-icon {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 14px;
}

.clear-icon {
  position: absolute;
  top: 7px;
  right: 8px;
  width: 12px;
  cursor: pointer;
  visibility: hidden;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/* --------------------------------- week.html */
#week .card-image {
  position: relative;
  float: left;
}

#week .card-image .hidden_icon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 1.5em;
  margin: 10px;
  transition: 0.5s ease;
  transition-delay: 0.1s;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

#week .card-image img {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#week .card-image:hover img {
  opacity: 0.3;
}

#week .card-image:hover .hidden_icon {
  opacity: 1;
}

#week .card-body .fav {
  float: right;
  margin-left: 10px;
}

#week .card-header h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

#week .card-body h5 {
  display: inline-block;

  width: 100%;
}

#week .favs .fav-toggle {
  padding-right: 0px;
}
#week .favs .fav-item {
  margin-bottom: 0.8em;
}

/* --------------------------------- list.html */

#list ul {
  list-style-type: none;
  padding-left: 0;
}
#list ul input {
  width: 100%;
  /* display: inline-block; */
}

#list ul h3 {
  font-size: calc(1rem + 0.6vw);
}

#list .btnRemove {
  visibility: hidden;
}
#list .liCheck:hover .btnRemove {
  visibility: visible;
}
#list .btnCheck,
#list #btnAdd,
#list .btnRemove {
  padding: 0;
}
#list li {
  border-bottom: 1px solid #f5f5f5;
}

/* --------------------------------- meal.html */

#meal img {
  border: 5px solid rgba(255, 255, 255, 1);
  width: 100px;
  height: 100px;
  padding: 0;
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
  #meal img {
    margin-top: -100px;
    border: 5px solid rgba(255, 255, 255, 1);
    width: 200px;
    height: 200px;
    padding: 0;
  }
}
#meal ul {
  list-style-type: none;
  padding-left: 0;
}
#meal li {
  border-bottom: 1px solid #f5f5f5;
}
#meal .meal-border {
  border: 2px solid lightgrey;
  border-radius: 20px 20px;
}
